
<MudCard Outlined="true" Class="full-height d-flex flex-column">
    <MudCardHeader>
        <CardHeaderContent>
            <div class="d-flex flex-row justify-space-between"
                <div class="Header d-flex flex-column justify-center align-left">
                    <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default">
                        @if (!String.IsNullOrEmpty(Icon))
                        {
                            <span class="mr-1"><i class="@Icon" /></span>
                        }
                        <span>@Title</span>
                    </MudText>
                    <MudText Typo="MudBlazor.Typo.subtitle2" Color="MudBlazor.Color.Secondary">
                        <span>@Subtitle</span>
                    </MudText>
                </div>
                <div class="Actions d-flex flex-row justify-center align-right">
                    @ActionContent
                </div>
            </div>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="@($"d-flex flex-column justify-center align-center flex-grow-1 {(Dense ? "pa-0" : null)}")">
        @ChildContent
    </MudCardContent>
</MudCard>

@code {
    
    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Subtitle { get; set; }
    
    [Parameter]
    public bool Dense { get; set; }
    
    [Parameter]
    public RenderFragment ActionContent { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
}
