@using SCMM.Web.Data.Models.UI.Item
@using SCMM.Web.Data.Models.UI.Statistic
@using Syncfusion.Blazor.Charts
@inject ILogger<StatisticsMarketPerformancePanel> Logger
@inject HttpClient Http
@inject AppState State

<MudGrid Spacing="2">

    <MudItem xs="12" xl="12">
        <StatisticsPanel Icon="fas fa-fw fa-chart-line" Title="Daily Market Activity" Subtitle="How many items are bought and sold on the market each day? How much money is traded each day? Is the market becoming more active, or less active?">
            <ChildContent>
                @if (!MarketSalesChartLoaded)
                {
                    <div class="absolute d-flex align-center justify-center full-width full-height">
                        <Loading Message="Loading daily market activity..." />
                    </div>
                }
                <style>
                    #MarketSalesPerDay_Series_1_TrendLine_0 {
                        stroke-dasharray: 10px 10px;
                        stroke-linejoin: round;
                        stroke-linecap: round;
                        -webkit-animation: dash 1s linear infinite;
                        animation: dash 1s linear infinite;
                    }
                    @@-webkit-keyframes dash {
                        100% {
                            stroke-dashoffset: -20px;
                        }
                    }
                    @@keyframes dash {
                        100% {
                            stroke-dashoffset: -20px;
                        }
                    }
                </style>
                <SfChart ID="MarketSalesPerDay" Theme="Syncfusion.Blazor.Theme.MaterialDark" Background="transparent" Width="100%" Height="100%">
                    <SfDataManager Url="api/stats/market/activityTimeline" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
                    <ChartEvents Loaded="((x) => { MarketSalesChartLoaded = true; StateHasChanged(); })"></ChartEvents>
                    <ChartArea>
                        <ChartAreaBorder Width="0"></ChartAreaBorder>
                    </ChartArea>
                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime" IntervalType="IntervalType.Auto" Format="d-MMM-yy" LabelIntersectAction="LabelIntersectAction.Rotate90" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                    </ChartPrimaryXAxis>
                    <ChartAxes>
                        <ChartAxis Name="RevenueAxis" LabelFormat="@($"{State.Currency.PrefixText}#,##0.00{State.Currency.SuffixText}")" EdgeLabelPlacement="EdgeLabelPlacement.Shift" OpposedPosition="true" />
                        <ChartAxis Name="SalesAxis" LabelFormat="#,##" EdgeLabelPlacement="EdgeLabelPlacement.Shift" />
                    </ChartAxes>
                    <ChartSeriesCollection>
                        <ChartSeries XName="date" YName="revenue" YAxisName="RevenueAxis" Opacity="1" Name="Market Revenue" Width="2" Fill="#388e3c" Type="ChartSeriesType.Line">
                        </ChartSeries>
                        <ChartSeries XName="date" YName="sales" YAxisName="SalesAxis" Opacity="1" Name="Market Sales" Width="2" Fill="#66c0f4" Type="ChartSeriesType.Line">
                            <ChartSeriesBorder Width="1" Color="#1b5e20"></ChartSeriesBorder>
                            <ChartTrendlines>
                                <ChartTrendline Type="TrendlineTypes.MovingAverage" Period="30" BackwardForecast="30" Width="3" Name="Market Sales Trend" Fill="#fff">
                                </ChartTrendline>
                            </ChartTrendlines>
                        </ChartSeries>
                    </ChartSeriesCollection>
                    <ChartZoomSettings EnableSelectionZooming="true" EnableMouseWheelZooming="true" EnablePinchZooming="true" Mode="ZoomMode.X"></ChartZoomSettings>
                    <ChartCrosshairSettings Enable="true" LineType="LineType.Vertical"></ChartCrosshairSettings>
                    <ChartTooltipSettings Enable="true" Shared="true"></ChartTooltipSettings>
                    <ChartLegendSettings Visible="true"></ChartLegendSettings>
                </SfChart>
            </ChildContent>
        </StatisticsPanel>
    </MudItem>
    
</MudGrid>

@code {

    private bool MarketSalesChartLoaded { get; set; }

}
