
<div class="navbar-brand">
    <img class="avatar" src="/icon-512.png" />
    <div class="name">
        <strong>Title</strong>
    </div>
    <div class="subtitle d-none d-sm-block">
        <i>Subtitle</i>
    </div>
</div>
