@page "/market/tracker"
@inherits PersistentComponent
@inject ILogger<MarketTrackerPage> Logger
@inject AppState State

<PageContainer Title="@($"{State?.App?.Name} Item Tracker")">
    <p>Hello :)</p>
</PageContainer>

@code {

    protected override Task OnLoadStateAsync()
    {
        return Task.CompletedTask;
    }

    protected override Task OnPersistStateAsync()
    {
        return Task.CompletedTask;
    }

}
