@inherits LayoutComponentBase

<MudLayout>
    <MudAppBar Fixed="true" Dense="false">
        <MudIconButton Edge="MudBlazor.Edge.Start" Icon="@Icons.Material.Filled.Menu" OnClick="@((e) => ToggleDrawer())" />
        <MudText Typo="Typo.h6" Class="ml-3">
            <AppLogo />
        </MudText>
        <MudText Typo="Typo.h6" Class="ml-3">
            <MudHidden Breakpoint="MudBlazor.Breakpoint.MdAndUp" Invert="true">
                <span>Rust - Steam Community Market Manager</span>
                <ReleaseVersionBadge />
            </MudHidden>
            <MudHidden Breakpoint="MudBlazor.Breakpoint.SmAndDown" Invert="true">
                <span>Rust - SCMM</span>
                <MudHidden Breakpoint="MudBlazor.Breakpoint.Xs">
                    <ReleaseVersionBadge />
                </MudHidden>
            </MudHidden >
        </MudText>
        <MudAppBarSpacer />
        <CurrencyChanger />
    </MudAppBar>
    <MudDrawer @bind-Open="_isDrawerOpen" ClipMode="DrawerClipMode.Always" Elevation="0">
        <AppNavigation />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code
{
    bool _isDrawerOpen = true;
    
    void ToggleDrawer()
    {
        _isDrawerOpen = !_isDrawerOpen;
    }
}
