
.profile-container {
    margin: 1rem 1rem 0.5rem 1rem;
    text-align: center;
}

.signin-container {
    margin: 1rem 1rem 0.5rem 1rem;
    text-align: center;
}

.signin-button img:hover {
    cursor: pointer;
}
