
.Profile-Root {
    margin: 1rem 1rem 0.5rem 1rem;
    text-align: center;
}

.SignIn-Root {
    margin: 1rem 1rem 0.5rem 1rem;
    text-align: center;
}

.SignIn-Button img:hover {
    cursor: pointer;
}
