@namespace SCMM.Web.Client.Shared.Component
@inject ILogger<AppVersion> Logger
@inject HttpClient Http

@if (ClientVersion != null)
{
    <span><i class="fas fa-fw fa-user"></i> v@(ClientVersion)&nbsp;</span>
}
@if (ServerVersion != null)
{
    <span><i class="fas fa-fw fa-server"></i> v@(ServerVersion)&nbsp;</span>
}

@code
{
    private string ClientVersion { set; get; }

    private string ServerVersion { set; get; }

    protected override async Task OnInitializedAsync()
    {
        var client = System.Reflection.Assembly.GetExecutingAssembly().GetName();
        ClientVersion = $"{client.Version.Major}.{client.Version.Minor}";
        try 
        {
            ServerVersion = await Http.GetStringAsync("api/version");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, $"Error detecting server app version");
        }
    }

}
