
.store-item .item-image {
    text-align: center;
}

.store-item .item-image img {
    width: 100%;
}

.store-item .item-image img:hover {
   cursor: pointer;
}

.store-item .item-name {
    margin-top: -4px;
}

.store-item .item-type {
    margin-top: -8px;
}
