@using System.Security.Principal

<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <span><i class="fas fa-user fa-fw"></i><strong class="navbar-text">@User.Identity.Name</strong></span><br class="d-none d-sm-block" />
        <a class="nav-btn btn btn-secondary btn-sm" asp-controller="Authentication" asp-action="SignOut">Sign out</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-btn btn btn-secondary btn-sm" asp-controller="Authentication" asp-action="SignIn">Sign in</a>
    </li>
}
</ul>
