@page "/tos"
@inject NavigationManager NavigationManager;

<PageContainer Title="SCMM - Terms of Service">
    <MudPaper Outlined="true" Class="pa-4">

        <MudText Typo="MudBlazor.Typo.h5" Color="MudBlazor.Color.Default" GutterBottom>Terms and Conditions of Use</MudText>
        
        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default">TL;DR;</MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>
            <ul class="fa-ul">
                <li><span class="fa-li">-</span>You are responsible for your own financial decisions and should do your own research before acting on information provided by SCMM;</li>
                <li><span class="fa-li">-</span>You cannot use SCMM data or materials for commerical purposes <i>(unless you have explicit permission to do so from the SCMM author)</i>;</li>
                <li><span class="fa-li">-</span>SCMM is not responsible for any external content linked on the website;</li>
                <li><span class="fa-li">-</span>Don't spam or abuse the SCMM APIs;</li>
            </ul>
        </MudText>

        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default" GutterBottom>1. Terms</MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>By accessing this website, accessible from @(NavigationManager.BaseUri.ToString()), you are agreeing to be bound by these Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this website are protected by copyright and trade mark law.</MudText>
    
        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default" GutterBottom>2. Use License</MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>Permission is granted to temporarily download one copy of the materials on SCMM's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>
            <ul class="fa-ul">
                <li><span class="fa-li">-</span>modify or copy the materials;</li>
                <li><span class="fa-li">-</span>use the materials for any commercial purpose <i>(unless you have explicit permission to do so from the SCMM author)</i>;</li>
                <li><span class="fa-li">-</span>attempt to reverse engineer any software contained within the SCMM system;</li>
                <li><span class="fa-li">-</span>attempt to exploit vulnerabilities or circumvent security controls within the SCMM system;</li>
                <li><span class="fa-li">-</span>remove any copyright or other proprietary notations from the materials; or</li>
                <li><span class="fa-li">-</span>transferring the materials to another person or "mirror" the materials on any other server.</li>
            </ul>
        </MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>This will let SCMM to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format.</MudText>
    
        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default" GutterBottom>3. Disclaimer</MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>All the materials on SCMM’s website are provided "as is". SCMM makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, SCMM does not make any representations concerning the accuracy or reliability of the use of the materials on its website or otherwise relating to such materials or any sites linked to this website.</MudText>
    
        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default" GutterBottom>4. Limitations</MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>SCMM will not be hold accountable for any damages (including loss of funds) that will arise with the use or inability to use the materials on SCMM’s website, even if SCMM or an authorize representative of this website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.</MudText>
    
        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default" GutterBottom>5. Revisions and Errata</MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>The materials appearing on SCMM’s website may include technical, typographical, or photographic errors. SCMM will not promise that any of the materials in this website are accurate, complete, or current. SCMM may change the materials contained on its website at any time without notice. SCMM does not make any commitment to update the materials.</MudText>
    
        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default" GutterBottom>6. Links</MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>SCMM has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by SCMM of the site. The use of any linked website is at the user’s own risk.</MudText>
        
        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default" GutterBottom>7. Fair Use</MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>SCMM provides a subset of material and information via its <MudLink Typo="MudBlazor.Typo.body2" Href="/docs" Target="_blank">public API</MudLink> for use in (non-commerical) 3rd party systems. By using these APIs, you agree to do so in a way that is considered <MudLink Typo="MudBlazor.Typo.body2" Href="https://www.copyright.gov/fair-use/more-info.html">"fair use"</MudLink> and with consideration for the performance of SCMM services. Excessive spam or abuse of these APIs may lead to your access being revoked without notice.</MudText>
    
        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default" GutterBottom>8. Privacy</MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>Please read our <MudLink Typo="MudBlazor.Typo.body2" Href="/privacy">Privacy Policy</MudLink>.</MudText>
        
        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default" GutterBottom>9. Site Terms of Use Modifications</MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>SCMM may revise these Terms of Use for its website at any time without prior notice. By using this website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</MudText>

        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default" GutterBottom>10. Governing Law</MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" >Any claim related to SCMM's website shall be governed by the laws of New Zealand without regards to its conflict of law provisions.</MudText>

    </MudPaper>
</PageContainer>
