@page "/inventory"
@inject AppState State
@inject NavigationManager NavigationManager

<PageContainer Title="Inventory">
    <MudContainer MaxWidth="MudBlazor.MaxWidth.Small">
        <MudTextField @bind-Value="SteamId" Variant="Variant.Outlined" FullWidth="true" Immediate="true" AutoFocus="true"
                      Adornment="MudBlazor.Adornment.Start" AdornmentIcon="fab fa-fw fa-steam mr-3" Placeholder="Enter a Steam ID64, Steam URL, or Custom URL" />
        <MudButton Variant="MudBlazor.Variant.Filled" Color="MudBlazor.Color.Primary" StartIcon="fas fa-fw fa-search-dollar" FullWidth="true" 
                   Disabled="@(String.IsNullOrEmpty(SteamId))" OnClick="ViewProfileInventory" Class="my-4">
            <span>Analyse Inventory</span>
        </MudButton>
    </MudContainer>
</PageContainer>

@code {

    private string SteamId { get; set; }

    private void ViewProfileInventory()
    {
        NavigationManager.NavigateTo($"/inventory/{Uri.EscapeDataString(SteamId)}");
    }

}
