@using SCMM.Web.Data.Models.UI.Profile.Inventory
@inject ExternalNavigationManager ExternalNavigationManager
@inject AppState State

<div class="align-self-stretch">
    <MudTooltip Text="@Item.Name">
        <div class="item-summary d-flex flex-wrap flex-column align-center justify-center full-height" @onclick="@((_) => OnItemClicked(Item))">
            <div class="hover-zoom">
                <img src="@Item.IconUrl" class="ma-1" />
            </div>
            @if (Item.BuyNowPrice != null)
            {
                <MudText Typo="MudBlazor.Typo.caption" Class="text-centered no-wrap">
                    @State.Currency.ToPriceString(Item.BuyNowPrice.Value)
                </MudText>
            }
        </div>
    </MudTooltip>
</div>

@code {
    
    [Parameter]
    public ProfileInventoryItemDescriptionDTO Item { get; set; }
    
    private void OnItemClicked(ProfileInventoryItemDescriptionDTO item)
    {
        ExternalNavigationManager.NavigateToNewTab(item.BuyNowUrl);
    }

}
