@namespace SCMM.Web.Client.Pages.Steam.Inventory
@using SCMM.Web.Shared.Domain.DTOs.InventoryItems;
@inherits ComponentBase

<style>

    .Item-Summary-Root {
        display: inline-flex;
    }

    .Item-Summary-Body {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 104px;
        min-height: 128px;
        margin: 8px;
        border-radius: 3px;
        background-color: var(--theme-palette-background-paper, #fff);
    }
    
    .Item-Summary-Body > p {
        text-align: center;
    }

    .Item-Summary-Body:hover {
        background-color: #666666;
        cursor: pointer;
    }

    .Item-Summary-Root img {
        margin: calc(var(--theme-spacing, 6) * 2px);
        width: 72px;
        height: 72px;
    }

</style>

<div style="padding:8px">
    @foreach (var item in Items)
    {
        <InventoryItemsWishlistItem Item="@item" ReadOnly="@ReadOnly" />
    }
</div>

@code {

    [Parameter]
    public IEnumerable<ProfileInventoryItemWishDTO> Items { get; set; }
    
    [Parameter]
    public bool ReadOnly { get; set; }

}
