@namespace SCMM.Web.Client.Pages.Steam.Inventory
@inherits ComponentBase

<div style=" display: flex; align-items: center; align-content: center; padding: 8px;">
    <Avatar Class="@IconClass" style="width: 64px; height: 64px; display:flex">
        @Icon
    </Avatar>
    <div style="display: inline-block; padding: 0px 16px;">
        <Typography Color="@Color.TextSecondary"
                    Variant="@TypographyVariant.Body2">
            @Title
        </Typography>
        <Typography Variant="@TypographyVariant.H6">
            @Total
        </Typography>
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string IconClass { get; set; }

    [Parameter]
    public RenderFragment Icon { get; set; }

    [Parameter]
    public RenderFragment Total { get; set; }

}
