@inject AppState State

@if (!String.IsNullOrEmpty(Title))
{
    <PageTitle>@Title</PageTitle>
    <HeadContent>
        <meta name="title" property="og:title" content="@Title">
        @if (!String.IsNullOrEmpty(Description))
        {
            <meta name="description" property="og:description" content="@Description">
        }
        @if (!String.IsNullOrEmpty(ImageUrl))
        {
            <meta name="image" property="og:image" content="@ImageUrl">
        }
    </HeadContent>
}

<div class="ma-6" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@if (ScrollTopTop)
{
    <MudScrollToTop Selector=".mud-main-content">
        <MudIconButton Variant="Variant.Filled" Icon="fas fa-fw fa-arrow-up" Color="MudBlazor.Color.Secondary" Title="Scroll to top" Disabled="State.IsPrerendering"></MudIconButton>
    </MudScrollToTop>
}

@code {

    [Parameter]
    public string Title { get; set; }
    
    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public string ImageUrl { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool ScrollTopTop { get; set; } = true;

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> AdditionalAttributes { get; set; }
    
}
