@inject AppState State

<PageTitle>@Title</PageTitle>
<HeadContent>
    <meta name="title" property="og:title" content="@Title">
    <meta name="description" property="og:description" content="@Description">
    <meta name="image" property="og:image" content="@ImageUrl">
</HeadContent>

<div class="ma-6" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@if (ScrollTopTop)
{
    <MudScrollToTop Selector=".mud-main-content">
        <MudIconButton Variant="Variant.Filled" Icon="fas fa-fw fa-arrow-up" Color="MudBlazor.Color.Secondary" Title="Scroll to top" Disabled="State.IsPrerendering"></MudIconButton>
    </MudScrollToTop>
}

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public string ImageUrl { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool ScrollTopTop { get; set; } = true;

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> AdditionalAttributes { get; set; }

    protected override void OnParametersSet()
    {
        if (String.IsNullOrEmpty(Title))
        {
            Title = $"{State.App?.Name ?? State.AppId.ToString()} - Steam Community Market Manager";
        }
        if (String.IsNullOrEmpty(Description))
        {
            Description = $"Track {State.App?.Name ?? State.AppId.ToString()} skin prices, find cheap deals, check your inventory value, and much more";
        }
        if (String.IsNullOrEmpty(ImageUrl))
        {
            ImageUrl = $"images/app/{State.AppId}/og.image.png";
        }
    }
}
