@page "/"
 
<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
            <MatHeadline6>Hello,</MatHeadline6>
        </div>
        <div class="mat-layout-grid-cell">
            <Card Headline="Steam" Subtitle="Community Market" ImageUrl="https://steamcdn-a.akamaihd.net/store/home/store_home_share.jpg" />
        </div>
    </div>
</div>
