@using Markdig

<div class="markdown-container" @attributes="AdditionalAttributes">
    @MarkupContent
</div>

@code {

    [Parameter]
    public string Content {get; set;}
    
    public MarkupString MarkupContent { get; private set; }
    
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; }
    
    protected override void OnInitialized()
    {
        if (!String.IsNullOrWhiteSpace(Content))
        {
            MarkupContent = new MarkupString(
                Markdown.ToHtml(Content, new MarkdownPipelineBuilder().UseAdvancedExtensions().Build())
            );
        }
        else 
        {
            MarkupContent = new MarkupString();
        }
    }

}
