
.youtube-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.youtube-container > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 0;
    left: 0;
    top: 0;
}
