
<div class="youtube-container" @attributes="AdditionalAttributes">
    <iframe src="https://www.youtube.com/embed/@(VideoId)?fs=1&showinfo=1" frameborder="0"></iframe>
</div>

@code {

    [Parameter]
    public string VideoId { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> AdditionalAttributes { get; set; }
    
}
