@namespace SCMM.Web.Client.Shared.Component
@inherits MaterialComponent

<Paper Class="@GetClasses()" Style="@GetStyles()">
    <Typography Variant="@TypographyVariant.Subtitle1" Class="Alert-Title">
        <strong class="Alert-Title-Icon">
            @Icon
        </strong>
        <strong>@Title</strong>
    </Typography>
    <div class="Alert-Body">
        @MessageContent
    </div>
</Paper>

@code {

    [Parameter]
    public RenderFragment Icon { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public bool Success { get; set; }

    [Parameter]
    public bool Warning { get; set; }

    [Parameter]
    public bool Error { get; set; }

    [Parameter]
    public bool Info { get; set; }

    [Parameter]
    public bool Rounded { get; set; } = true;

    [Parameter]
    public RenderFragment MessageContent { get; set; }

    private string GetClasses()
    {
        var classes = new System.Text.StringBuilder();
        classes.Append("Alert-Root ");
        if (Success)
        {
            classes.Append("Paper-Success ");
        }
        if (Warning)
        {
            classes.Append("Paper-Warning ");
        }
        if (Error)
        {
            classes.Append("Paper-Error ");
        }
        if (Info)
        {
            classes.Append("Paper-Info ");
        }
        return classes.ToString();
    }

    private string GetStyles()
    {
        var styles = new System.Text.StringBuilder();
        if (!Rounded)
        {
            styles.Append("border-radius:unset; ");
        }
        return styles.ToString();
    }
}
