@namespace SCMM.Web.Client.Shared.Component

<style>

    .YouTube-Root {
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        margin: 16px 0px;
    }

    .YouTube-Root iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

</style>

<div class="YouTube-Root">
    <iframe src="https://www.youtube.com/embed/@(VideoId)?fs=1&showinfo=1" frameborder="0"></iframe>
</div>

@code {

    [Parameter]
    public string VideoId { get; set; }

}
