@namespace SCMM.Web.Client.Shared.Component

<div class="YouTube-Root">
    <iframe src="https://www.youtube.com/embed/@(VideoId)?fs=1&showinfo=1" frameborder="0"></iframe>
</div>

@code {

    [Parameter]
    public string VideoId { get; set; }

}
