@inherits ResponsiveDialog

<MudDialog>
    <TitleContent>
        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default">Donate and show your support</MudText>
    </TitleContent>
    <DialogContent>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary">
            <p>This website is free to use, but isn't free to keep running.</p>
            <p>If you found it useful and would like to say thanks, you can send me a Rust skin using the button below.</p>
        </MudText>
        <MudGrid Spacing="0" Justify="Justify.SpaceAround">
            <MudItem xs="6" Class="hidden-overflow">
                <MudTooltip Text="Click to send me a skin via Steam trade" Inline="false">
                    <a href="https://steamcommunity.com/tradeoffer/new/?partner=121835790&token=AjBXyQhL" target="_blank">
                        <img src="/images/donate-steam.png" alt="Donate with Steam" class="full-width" />
                    </a>
                </MudTooltip>
            </MudItem>
        </MudGrid>
    </DialogContent>
</MudDialog>

@code {

    protected override void OnConfigure(ResponsiveDialogOptions options)
    {
        options.FullscreenBreakpoint = MudBlazor.Breakpoint.Xs;
        options.MaxWidth = MudBlazor.MaxWidth.ExtraSmall;
        options.CloseButton = true;
    }
    
    protected override bool ShouldRender() => false;

}
