
<MudDialog>
    <TitleContent>
        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default">
            <i class="fas fa-fw fa-lock"></i>  
            <span>Keep your Steam account safe</span>
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary">
            <ul class="fa-ul">
                <li>
                    <MudText Color="MudBlazor.Color.Success" Class="fa-li fa-lg"><i class="fas fa-check-square"></i></MudText>
                    <MudText Typo="MudBlazor.Typo.body2">Only enter your password on legitimate Steam websites, always check the address bar to ensure the URL is correct and that the connection is secured.</MudText>
                    <img src="/images/steam_secure_login.png" />
                </li>
                <li>
                    <MudText Color="MudBlazor.Color.Success" Class="fa-li fa-lg"><i class="fas fa-check-square"></i></MudText>
                    <MudText Typo="MudBlazor.Typo.body2">
                        <span>Regularly check your</span>
                        <MudTooltip>
                            <TooltipContent>
                                <span>API keys enables programs to perform actions against your Steam account on your behalf. They are most commonly used by trade bots and can be used to trick you in to accepting scam trades (google: "Steam API key scam").</span>
                            </TooltipContent>
                            <ChildContent>
                                <MudLink Typo="MudBlazor.Typo.body2" Href="https://steamcommunity.com/dev/apikey" Target="_blank">API key</MudLink>
                            </ChildContent>
                        </MudTooltip>
                        <span>, remove it unless you remember setting it.</span>
                    </MudText>
                </li>
                <li>
                    <MudText Color="MudBlazor.Color.Success" Class="fa-li fa-lg"><i class="fas fa-check-square"></i></MudText>
                    <MudText Typo="MudBlazor.Typo.body2">
                        <span>Enable</span>
                        <MudTooltip>
                            <TooltipContent>
                                <span>If Steam Guard is enabled on your account, when you login to your Steam account from an unrecognized device you'll need to provide a special access code to verify it's your account. Depending on your Steam Guard settings, you'll either receive an email with the special code or you'll get it from the Steam Mobile app on your smartphone.</span>
                            </TooltipContent>
                            <ChildContent>
                                <MudLink Typo="MudBlazor.Typo.body2" Href="https://support.steampowered.com/kb_article.php?ref=4440-rtui-9218" Target="_blank">Steam Guard</MudLink>
                            </ChildContent>
                        </MudTooltip>
                        <span>for improved account security.</span>
                    </MudText>
                </li>
            </ul>
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudFocusTrap DefaultFocus="MudBlazor.DefaultFocus.LastChild">
            <MudTooltip Text="Continue to Steam to complete the login process">
                <MudLink @onclick="@SignIn" Class="signin-button">
                    <img src="/images/sits_01.png" alt="Sign in through Steam" />
                </MudLink>
            </MudTooltip>
        </MudFocusTrap>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] 
    public MudDialogInstance Dialog { get; set; }
    
    protected override void OnInitialized()
    {
        Dialog.Options.CloseButton = true;
        Dialog.Options.MaxWidth = MudBlazor.MaxWidth.Small;
        Dialog.SetOptions(Dialog.Options);
    }
    
    void SignIn() => Dialog.Close(MudBlazor.DialogResult.Ok(true));
    
    protected override bool ShouldRender() => false;

}
