
.scene-container {
    position: relative;
}

.scene-container canvas, .scene-controls {
    position: absolute;
}

.position-top {
    top: 0px;
}

.position-bottom {
    bottom: 0px;
}
