
.item > div {
    text-align: center;
    width: 8em;
    height: 8em;
}

.item:hover {
    background-color: var(--mud-palette-overlay-dark);
    border: 1px solid var(--mud-palette-lines-default);
}

.item-icon img {
    width: 100%;
}

.item-icon-missing img {
    width: 100%;
    opacity: 0.5;
    filter: grayscale(1);
}
