
.item > div {
    text-align: center;
    width: 5rem;
    height: 5rem;
}

.item-icon img {
    width: 100%;
}

.item-icon-missing img {
    width: 100%;
    opacity: 0.5;
    filter: grayscale(1);
}
