
.scene-container {
    position: relative;
}

.scene-controls {
    position: absolute;
}

.position-top {
    top: 0px;
}

.position-bottom {
    bottom: 0px;
}

.grabbing {
    font-size: 3em;
    animation: drag 1.5s ease-in 0.5s 5 reverse;
}

@keyframes drag {
    0% {
        margin-right: 5vw;
    }

    100% {
        margin-right: -5vw;
    }
}
