
.collection {
    display: inline-grid;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
}

.collection-title {
    grid-column: 1/-1;
}

.collection-item {
    text-align: center;
}
