
.item {
    border: 1px solid transparent;
}

.item:hover {
    background-color: var(--mud-palette-overlay-dark);
    border: 1px solid var(--mud-palette-lines-default);
}

.icon {
    max-width: 12em;
    max-height: 12em;
}

.highlighted {
    background-color: var(--mud-palette-overlay-dark);
    border: 1px solid var(--mud-palette-lines-default);
}
