
.preloader {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 20vh 20vw;
    min-height: 100vh;
    background: #121212;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.preloader, .wasm-unsupported-root, .wasm-loading-root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.preloader img {
    margin: 2em;
}

.preloader-progress-bar-root {
    width: 100%;
    margin: 8px 0px;
    border: 2px solid #c7c7c7;
    border-radius: 8px;
}

.preloader-progress-bar-root > div {
    color: #121212;
    background: #c7c7c7;
    padding: 2px 4px;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    animation: progress-bar 2s;
}

@keyframes progress-bar {

    0% {
        width: 0;
    }

}
