
.mud-tooltip {
    max-width: 50vw;
}

.mud-snackbar {
    flex-wrap: nowrap !important;
}

.mud-chip-size-small > .mud-icon-size-small,
.mud-chip-size-medium > .mud-icon-size-medium,
.mud-chip-size-large > .mud-icon-size-large {
    font-size: inherit;
    margin-right: 8px;
}

.mud-input-transparent .mud-input-label {
    background: black;
}

.mud-tabs-transparent .mud-tabs-toolbar {
    background: none;
}

.mud-tabs-transparent .mud-tab:hover {
    background: none;
}

.mud-tabs-transparent .mud-tab-active:hover {
    background: none;
}

.mud-badge-overlap-extra .mud-badge {
    margin-left: -20px !important;
    margin-right: -20px !important;
    margin-top: -16px !important;
    margin-bottom: -16px !important;
}

.mud-table-dense-extra * .mud-table-row .mud-table-cell {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.mud-table-dense-extra .mud-input-control .mud-input {
    margin-top: 0px !important;
}

.mud-skeleton-light {
    background-color: rgba(255,255,255,.5);
}

.mud-link:hover {
    cursor: pointer;
}

.mud-scroll-to-top.hidden {
    transform: scale(0) !important;
}

.mud-tabs-panel-header {
    flex: none !important;
}

.mud-dialog:not(.mud-dialog-fullscreen) > div:not(.mud-dialog-title) {
    max-height: 85vh;
}

.mud-dialog > div:not(.mud-dialog-title) {
    overflow-x: hidden;
    overflow-y: auto;
}
