
.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.hidden {
    display: none;
}

.hidden-overflow {
    overflow: hidden;
}

.full-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}

.no-wrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-centered {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-line-through {
    text-decoration: line-through
}

.text-outlined {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(51, 51, 51);
}

.clickable:hover {
    cursor: pointer;
}

.interactive canvas {
    cursor: grab;
}

.interactive canvas:active {
    cursor: grabbing;
}

.hover-darken:hover {
    background-color: var(--mud-palette-overlay-dark);
}

.hover-zoom img {
    transition: transform .5s ease, filter .25s ease;
}

.hover-zoom:hover img {
    transform: scale(1.25);
    filter: drop-shadow(2px 4px 6px black);
}

.hover-zoom-extra:hover img {
    transform: scale(1.5) !important;
}

.hover-zoom-extreme:hover img {
    transform: scale(3) !important;
}

.update-notification-icon {
    font-size: 2rem;
}

.fade-out {
    animation: fade-out 0.5s 5s forwards 1;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.flash {
    animation: flash 1s 0.5s forwards 3;
}

@keyframes flash {

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }

}

.glow {
    animation: glow 3s 0s linear infinite;
}

@keyframes glow {

    50% {
        filter: drop-shadow(0px 0px 16px #666);
    }

}

.glow-transparent {
    animation: glow-transparent 3s 0s linear infinite;
}

@keyframes glow-transparent {

    50% {
        filter: drop-shadow(0px 0px 16px transparent);
    }

}
