
.full-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}

.no-wrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-centered {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-line-through {
    text-decoration: line-through
}

.clickable:hover {
    cursor: pointer;
}

.hover-zoom img {
    transition: transform .5s ease, filter .25s ease;
}

.hover-zoom:hover img {
    transform: scale(1.25);
    filter: drop-shadow(2px 4px 6px black);
}

.hover-zoom-extra:hover img {
    transform: scale(1.5) !important;
}

.flash {
    animation: flash 1s 0.5s forwards;
    animation-iteration-count: 3;
}

@keyframes flash {
    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}
