
.preloader {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 20vh 20vw;
    min-height: 100vh;
    background: #121212;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.preloader, .wasm-unsupported-root, .wasm-loading-root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.preloader img {
    margin: 2em;
}

.preloader-progress-bar-root {
    width: 100%;
    margin: 8px 0px;
    border: 2px solid #c7c7c7;
    border-radius: 8px;
}

.preloader-progress-bar-root > div {
    color: #121212;
    background: #c7c7c7;
    padding: 2px 4px;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    animation: progress-bar 2s;
}

@keyframes progress-bar {

    0% {
        width: 0;
    }

}

.component-error-banner, #blazor-error-ui {
    position: fixed;
    top: unset;
    bottom: 0;
    left: 0;
    right: unset;
    background: #d32f2f;
    box-shadow: 0 -1px 2px rgb(0 0 0 / 20%);
    width: 100%;
    z-index: 9999;
}

.component-error-banner i, #blazor-error-ui i {
    font-size: 1.5em;
}

.components-reconnect-modal, #components-reconnect-modal {
    position: fixed;
    inset: 0px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    overflow: hidden;
    color: #dddddd;
    background-color: #333333;
    opacity: 0.9;
    text-align: center;
    font-weight: bold;
    z-index: 1050;
}

.components-reconnect-hide {
    display: none !important;
}

.components-reconnect-show > div {
    display: none;
}

.components-reconnect-show > .show {
    display: block;
}

.components-reconnect-failed > div {
    display: none;
}

.components-reconnect-failed > .failed {
    display: block;
}

.components-reconnect-rejected > div {
    display: none;
}

.components-reconnect-rejected > .rejected {
    display: block;
}
