@namespace SCMM.Web.Client.Pages.Steam.Inventory
@inherits ComponentBase

<div style=" display: flex; align-items: center; align-content: center; padding: 8px;">
    <Avatar Class="@IconClass" style="min-width:42px; min-height:42px; max-width:48px; max-height:48px; padding:5px; display:flex">
        @Icon
    </Avatar>
    <div style="display: inline-block; padding: 0px 16px;">
        <Skclusive.Material.Typography.Typography Color="@Skclusive.Core.Component.Color.TextSecondary"
                    Variant="@TypographyVariant.Body2">
            @Title
        </Skclusive.Material.Typography.Typography>
        <Skclusive.Material.Typography.Typography Variant="@TypographyVariant.Subtitle2">
            @Total
        </Skclusive.Material.Typography.Typography>
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string IconClass { get; set; }

    [Parameter]
    public RenderFragment Icon { get; set; }

    [Parameter]
    public RenderFragment Total { get; set; }

}
