
.item-summary {
    height: 100%;
}

.item-summary {
    border: 1px solid transparent;
}

.item-summary:hover {
    background-color: var(--mud-palette-overlay-dark);
    border: 1px solid var(--mud-palette-lines-default);
    cursor: pointer;
}

.item-summary img {
    width: 5rem;
    height: 5rem;
}

.hover-zoom img {
    transition: transform .5s ease;
}

.hover-zoom:hover img {
    transform: scale(1.5);
    filter: drop-shadow(2px 4px 6px black);
}
