<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-warning mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>
    <span>@Message</span>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Message { get; set; }
}
