@inherits LayoutComponentBase

<MainLayout>
    <LogoContent>
        <AppLogo />
    </LogoContent>
    <TitleContent>
        <span>Rust - Steam Community Market</span>
        <ReleaseVersionBadge />
    </TitleContent>
    <SidebarContent>
        @if (NavigationItems != null)
        {
            <Navigation Items="@NavigationItems">
            </Navigation>
        }
    </SidebarContent>
    <BodyContent>
        @Body
    </BodyContent>
    <FooterContent>
        <AppVersion />
        <Typography Variant="@TypographyVariant.Body2">
            <span><strong>SCMM</strong></span>
            <span>&copy; 2020 Rhys Koedijk</span>
        </Typography>
    </FooterContent>
</MainLayout>

<DonateDialog @bind-Open="@DonateDialogOpened" />

@code {

    private List<NavigationItem> NavigationItems { get; set; }

    private bool DonateDialogOpened { get; set; }

    protected override void OnInitialized()
    {
        NavigationItems = BuildGeneralNaviationItems();
    }

    private void DonationOpen()
    {
        DonateDialogOpened = true;
        StateHasChanged();
    }

    private List<NavigationItem> BuildGeneralNaviationItems()
    {
        return new List<NavigationItem>
{
            new NavigationItem
            {
                Icon = @<SwapBagIcon />,
                Title = "Inventory Value",
                Path = "steam/inventory",
                Prefix = false
            },
            new NavigationItem
            {
                Icon = @<CashIcon />,
                Title = "Trade History",
                Path =  "steam/history",
                Prefix =  true,
                Disabled = true
            },
            null,
            new NavigationItem
            {
                Icon = @<ChartIcon />,
                Title = "Market Statistics",
                Path = "steam/marketstatistics",
                Prefix = false
            },
            new NavigationItem
            {
                Icon = @<ArtificialIntelligenceIcon />,
                Title = "Market Insights",
                Path =  "steam/marketinsights",
                Prefix =  true,
                Disabled = true
            },
            new NavigationItem
            {
                Icon = @<TakeMyMoneyIcon />,
                Title = "Market Listings",
                Path = "steam/marketplace",
                Prefix = true
            },
            new NavigationItem
            {
                Icon = @<PriceTagIcon />,
                Title = "Item Store",
                Path =  "steam/store",
                Prefix =  true
            },
            new NavigationItem
            {
                Icon = @<SprayIcon />,
                Title = "Item Workshop",
                Path =  "steam/workshop",
                Prefix =  true,
                Disabled = true
            },
            null,
            new NavigationItem
            {
                Icon = @<InformationIcon />,
                Title = "About",
                Path =  "about",
                Prefix =  true
            },
            new NavigationItem
            {
                Icon = @<ReceiveMoneyIcon />,
                Title = "Donate",
                SubTitle = "Show your support",
                OnClick = DonationOpen
            }
        };
        }

}
