@inherits LayoutComponentBase
@inject AppState State

<MainLayout>
    <LogoContent>
        <AppLogo />
    </LogoContent>
    <TitleContent>
        <span>Rust - Steam Community Market Manager</span>
        <ReleaseVersionBadge />
    </TitleContent>
    <ActionsContent>
        <CurrencySelector />
    </ActionsContent>
    <SidebarContent>
        @if (State.IsAuthenticated)
        {
            <Profile Name="@State.Profile.Name" Avatar="@State.Profile.AvatarLargeUrl" />
            <ProfileFlairs />
        }
        <AppNavigation />
    </SidebarContent>
    <BodyContent>
        @Body
    </BodyContent>
    <FooterContent>
        <p>
            <AppVersion />
        </p>
        <p>
            <span><strong>SCMM</strong></span>
            <span>&copy; 2020 Rhys Koedijk</span>
        </p>
    </FooterContent>
</MainLayout>
