@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject SignOutSessionStateManager SignOutManager

<MainLayout>
    <LogoContent>
        <AppLogo />
    </LogoContent>
    <TitleContent>
        <span>Rust - Steam Community Market</span>
    </TitleContent>
    <ActionsContent>
        <Hidden MediumDown Context="HiddenContext">
            <div Class="@HiddenContext.Class">

            </div>
        </Hidden>
    </ActionsContent>
    <SidebarContent>
        <AuthorizeView>
            <Authorized>
                <Profile Name="Name"
                         Avatar="https://steamuserimages-a.akamaihd.net/ugc/885384897182110030/F095539864AC9E94AE5236E04C8CA7C2725BCEFF/"
                         SubTitle="Subtitle">
                </Profile>
                <Divider />
            </Authorized>
        </AuthorizeView>
        @if (navigationItems != null)
        {
            <Navigation Items="@navigationItems">
            </Navigation>
        }
    </SidebarContent>
    <BodyContent>
        @Body
    </BodyContent>
    <!--
    <FooterContent>
        <Footer Name="Steam Community Market Manager" Copyright="2020">
            <span>A little side project by Rhys Koedijk.</span>
        </Footer>
    </FooterContent>
    -->
</MainLayout>

@code {

    private List<NavigationItem> navigationItems;

    protected override async Task OnInitializedAsync()
    {
        navigationItems = BuildGeneralNaviationItems();
        this.StateHasChanged();
    }

    private List<NavigationItem> BuildGeneralNaviationItems()
    {
        return new List<NavigationItem>
    {
            new NavigationItem
            {
                Icon = @<ChartIcon />,
                Title = "Dashboard",
                Path = "/",
                Prefix = false
            },
            null,
            new NavigationItem
            {
                Icon = @<SwapBagIcon />,
                Title = "Inventory",
                Path = "steam/inventory",
                Prefix = false
            },
            new NavigationItem
            {
                Icon = @<CashIcon />,
                Title = "History",
                Path =  "steam/history",
                Prefix =  true
            },
            new NavigationItem
            {
                Icon = @<TakeMyMoneyIcon />,
                Title = "Marketplace",
                Path = "steam/marketplace",
                Prefix = true,
            },
            new NavigationItem
            {
                Icon = @<PriceTagIcon />,
                Title = "Store",
                Path =  "steam/store",
                Prefix =  true
            },
            new NavigationItem
            {
                Icon = @<SprayIcon />,
                Title = "Workshop",
                Path =  "steam/workshop",
                Prefix =  true
            },
            null,
            new NavigationItem
            {
                Icon = @<HelpIcon />,
                Title = "What is this?",
                Path =  "about",
                Prefix =  true
            }
        };
        }

        private List<NavigationItem> BuildAuthenticatedNaviationItems()
        {
            return new List<NavigationItem>
        {
            new NavigationItem
            {
                Icon = @<i class="fa fa-2x fa-cog" />,
                Title = "Profile",
                Path = "authentication/profile",
                Prefix = false
            },
            new NavigationItem
            {
                Icon = @<i class="fa fa-2x fa-user" />,
                Title = "Logout",
                Path = "authentication/logout",
                Prefix = false
            }
        };
        }

        private List<NavigationItem> BuildUnauthenticatedNaviationItems()
        {
            return new List<NavigationItem>
        {
            new NavigationItem
            {
                Icon = @<i class="fa fa-2x fa-user-plus" />,
                Title = "Register",
                Path = "authentication/register",
                Prefix = false
            },
            new NavigationItem
            {
                Icon = @<i class="fa fa-2x fa-user" />,
                Title = "Login",
                Path = "authentication/login",
                Prefix = false
            }
        };
        }

        private async void Logout()
        {
            await SignOutManager.SetSignOutState();
            Navigation.NavigateTo("authentication/logout");
        }

}
