@inherits LayoutComponentBase

<MainLayout>
    <LogoContent>
        <AppLogo />
    </LogoContent>
    <TitleContent>
        <span>Rust - Steam Community Market</span>
    </TitleContent>
    <ActionsContent>
        <Hidden MediumDown Context="HiddenContext">
            <div Class="@HiddenContext.Class">

            </div>
        </Hidden>
    </ActionsContent>
    <SidebarContent>
        @if (navigationItems != null)
        {
            <Navigation Items="@navigationItems">
            </Navigation>
        }
    </SidebarContent>
    <BodyContent>
        @Body
    </BodyContent>
    <!--
    <FooterContent>
        <Footer Name="Steam Community Market Manager" Copyright="2020">
            <span>A little side project by Rhys Koedijk.</span>
        </Footer>
    </FooterContent>
    -->
</MainLayout>

@code {

    private List<NavigationItem> navigationItems;

    protected override async Task OnInitializedAsync()
    {
        navigationItems = BuildGeneralNaviationItems();
    }

    private List<NavigationItem> BuildGeneralNaviationItems()
    {
        return new List<NavigationItem>
    {
            new NavigationItem
            {
                Icon = @<ChartIcon />,
                Title = "Dashboard",
                Path = "/",
                Prefix = false
            },
            null,
            new NavigationItem
            {
                Icon = @<SwapBagIcon />,
                Title = "Inventory",
                Path = "steam/inventory",
                Prefix = false
            },
            new NavigationItem
            {
                Icon = @<CashIcon />,
                Title = "History",
                Path =  "steam/history",
                Prefix =  true
            },
            new NavigationItem
            {
                Icon = @<TakeMyMoneyIcon />,
                Title = "Marketplace",
                Path = "steam/marketplace",
                Prefix = true,
            },
            new NavigationItem
            {
                Icon = @<PriceTagIcon />,
                Title = "Store",
                Path =  "steam/store",
                Prefix =  true
            },
            new NavigationItem
            {
                Icon = @<SprayIcon />,
                Title = "Workshop",
                Path =  "steam/workshop",
                Prefix =  true
            },
            null,
            new NavigationItem
            {
                Icon = @<HelpIcon />,
                Title = "What is this?",
                Path =  "about",
                Prefix =  true
            }
        };
    }

}
