@inherits LayoutComponentBase
@inject AppState State

<MainLayout>
    <LogoContent>
        <AppLogo />
    </LogoContent>
    <TitleContent>
        <span>Rust - Steam Community Market</span>
        <ReleaseVersionBadge />
    </TitleContent>
    <SidebarContent>
        @if (State.IsAuthenticated)
        {
            <Profile Name="@State.Profile.Name" Avatar="@State.Profile.AvatarLargeUrl" />
        }
        else
        {
            <a href="/signin">
                <img src="/images/sits_01.png" alt="Sign-in through Steam" style="padding:16px" />
            </a>
        }
        <AppNavigation />
    </SidebarContent>
    <BodyContent>
        @Body
    </BodyContent>
    <FooterContent>
        <p>
            <AppVersion />
        </p>
        <p>
            <span><strong>SCMM</strong></span>
            <span>&copy; 2020 Rhys Koedijk</span>
        </p>
    </FooterContent>
</MainLayout>
