@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject SignOutSessionStateManager SignOutManager

<style>

    .Toolbar-Root a {
        height: 38px;
    }

    .Profile-Navigation-Divider {
        margin: 16px 0px;
    }

    .Navigation {
        margin-bottom: 16px;
    }

    .Navigation-Icon {
        height: auto;
    }

    .Body-Container {
        padding: 16px;
    }

</style>

<MainLayout>
    <LogoContent>
        <AppLogo />
    </LogoContent>
    <TitleContent>
        <AppTitle />
    </TitleContent>
    <SidebarContent>
        <AuthorizeView>
            <Authorized>
                <Profile Name="Bipolar Penguin"
                         Avatar="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/f7/f722e84db993a5acc8cf96d9cf10e54321965130_full.jpg"
                         Bio="76561198082101518">
                </Profile>
                <Divider Class="Profile-Navigation-Divider" />
                <Navigation Class="Navigation" Items="@MainNavigationItems">
                </Navigation>
                <Navigation Class="Navigation" Items="@AuthenticatedNavigationItems">
                </Navigation>
            </Authorized>
            <NotAuthorized>
                <Navigation Class="Navigation" Items="@UnauthenticatedNavigationItems">
                </Navigation>
                <Navigation Class="Navigation" Items="@MainNavigationItems">
                </Navigation>
                <Divider Class="Profile-Navigation-Divider" />
            </NotAuthorized>
        </AuthorizeView>
    </SidebarContent>
    <BodyContent>
        <div class="Body-Container">
            @Body
        </div>
    </BodyContent>
</MainLayout>

@code {
    
    private List<NavigationItem> AuthenticatedNavigationItems = new List<NavigationItem>
    {
        new NavigationItem
        {
            Title = "Profile",
            Path = "authentication/profile",
            Icon = @<i class="fa fa-2x fa-cog" />,
            Prefix = false
        },
        new NavigationItem
        {
            Title = "Logout",
            Path = "authentication/logout",
            Icon = @<i class="fa fa-2x fa-user" />,
            Prefix = false
        }
    };

    private List<NavigationItem> UnauthenticatedNavigationItems = new List<NavigationItem>
    {
        new NavigationItem
        {
            Title = "Register",
            Path = "authentication/register",
            Icon = @<i class="fa fa-2x fa-user-plus" />,
            Prefix = false
        },
        new NavigationItem
        {
            Title = "Login",
            Path = "authentication/login",
            Icon = @<i class="fa fa-2x fa-user" />,
            Prefix = false
        }
    };

    private List<NavigationItem> MainNavigationItems = new List<NavigationItem>
    {
        new NavigationItem
        {
            Title = "Inventory",
            Path = "steam/inventory",
            Icon = @<WoodenCrateIcon />,
            Prefix = false
        },

        new NavigationItem
        {
            Title = "History",
            Path =  "steam/history",
            Icon = @<ChartIcon />,
            Prefix =  true
        },
        new NavigationItem
        {
            Title = "Marketplace",
            Path = "steam/marketplace",
            Icon = @<TakeMyMoneyIcon />,
            Prefix = true,
        },
        new NavigationItem
        {
            Title = "Store",
            Path =  "steam/store",
            Icon = @<PriceTagIcon />,
            Prefix =  true
        },
        new NavigationItem
        {
            Title = "Workshop",
            Path =  "steam/workshop",
            Icon = @<SprayIcon />,
            Prefix =  true
        }
    };

    private async void Logout()
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

}
