@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="https://steamcommunity.com/market/" target="_blank">Steam</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
