<div class="@($"{(Light ? "tumble-weed-light-container" : "tumble-weed-container")} ma-4")">
    <div class="bounce"></div>
    <div class="pebble1"></div>
    <div class="pebble2"></div>
    <div class="pebble3"></div>
</div>

@code {

    [Parameter]
    public bool Light { get; set; } = false;

    protected override bool ShouldRender() => false;

}