
.Item {
    border: 1px solid transparent;
}

.Item:hover {
    background-color: var(--mud-palette-overlay-dark);
    border: 1px solid var(--mud-palette-lines-default);
}

.Item-Icon img {
    width: 100%;
}

.Collection-Name {
    margin-top: -4px;
}

.Collection-Description {
    margin-top: -8px;
}

.Hover-Zoom img {
    transition: transform .5s ease;
}

.Hover-Zoom:hover img {
    transform: scale(1.3);
    filter: drop-shadow(2px 4px 6px black);
}

.Purchasable {
    cursor: pointer;
}