
.donators li:nth-child(1) {
    color: gold;
    font-size: 1.3em;
}

.donators li:nth-child(2) {
    color: silver;
    font-size: 1.2em;
}

.donators li:nth-child(3) {
    color: #cd7f32;
    font-size: 1.1em;
}

.donator, .contributor {
    display: flex;
    align-content: center;
    align-items: center;
}

.donator > img, .contributor > img {
    max-width: 2em;
    max-height: 2em;
}

.donator > span, .contributor> span {
    margin: 4px 8px;
    font-weight: bold;
}
