@page "/changes"

<PageContainer Title="Change History">
    <MudPaper Outlined="true" Class="pa-4">

        <MudText Typo="MudBlazor.Typo.h5" Color="MudBlazor.Color.Default" GutterBottom>Change History</MudText>
        
        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default">
            <span>v0.12 (21/06/2021)</span>
        </MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>
            <ul>
                <li>Completely rebuilt the front-end from the ground-up, using more modern and better supported component libraries</li>
                <li>Refactored UI components to use CSS isolation rather than global styles</li>
                <li>Refactored Steam asset description models to reduce table joins and duplicated data</li>
                <li>Split the "about" page in to separate "website" and "change history" pages</li>
                <li>Added "privacy policy" page</li>
                <li>Added "terms of service" page</li>
                <li>Added "scroll top top" button to all pages</li>
                <li>Added "daily market activity" chart showing market sales and revenue per-day</li>
                <li>Added "most sales" statistic</li>
                <li>Added "largest item collections" statistic</li>
                <li>Added "cheapest craftable container costs" statistic</li>
                <li>Added "cheapest crafting resource costs" statistic</li>
                <li>Added Steam data import job statistics to administrative page to better monitor how 'stale' our data is</li>
                <li>Added support for setting currency and language for all APIs via query string</li>
                <li>Added support for tagging inventory item acquisition source (e.g. store, market, trade, gift, etc) and automatically using the store price as the purchase price (if available)</li>
                <li>Added store top-sellers position indicator next to all items</li>
                <li>Added store item component break-down descriptions</li>
                <li>Added store item price ranking popup dialog</li>
                <li>Added store item collection names and a popup dialog showing all items in the collection</li>
                <li>Added store item price profit/loss indicators (between store and market price, where available)</li>
                <li>Added store item tradable and marketable status indicators</li>
                <li>Added store list horizontal scroll buttons</li>
                <li>Added additional alias to the <code>>config options</code> Discord command</li>
                <li>Added <code>>currency [currency_id]</code> command to set default currency for a user</li>
                <li>Added <code>>invite</code> command to provide Discord bot invite link</li>
                <li>Discord bot now reacts with heart emoji when mentioned in messages</li>
                <li>Discord bot now reference the original message when replying to commands</li>
                <li>Store names are now in "month day" format, which is easier to understand than "week x"</li>
                <li>Store pages are now routable and uses the store start date time as an id</li>
                <li>Store items can now individually "end" rather only when the entire store changes</li>
                <li>Inventory investment tab is now only visible to the owner, not the public</li>
                <li>Improved Steam client error handling when being throttled or session becomes stale, reducing the number of failed import jobs</li>
                <li>Improved API error handling for all "profile not found" and "inventory is private" scenarios</li>
                <li>Improved refresh frequency and success rate for Steam market item sales and orders data. The average age of market data has reduced from about 18hrs behind, down to 2hrs behind</li>
                <li>Improved Steam asset description importing to only fetch data if it is actually missing (rather than fetching all data)</li>
                <li>Fixed various currency conversion issues with inventory investment price entry</li>
                <li>Fixed issue where <code>>inv</code> and <code>>steamid</code> Discord commands could not be used in DMs</li>
                <li>Fixed issue where asset description images/icons would be imported with a fixed expiry and then couldn't be deleted</li>
                <li>Fixed issue where if a currency is set on your profile, changing the currency on the website has no effect</li>
                <li>Fixed issue where inventory item profit and RoI% would be calculated incorrectly if the item was purchased in a currency that is different to the current currency</li>
                <li>Fixed issue where transient user profiles were not being detected correctly when using the Discord bot</li>
                <li>Fixed issue where new market items would have an empty SteamId and would not fetch new prices</li>
                <li>Fixed issue where market item sales and orders job would sometimes skip items when checking for new data because it was checking the wrong timestamps</li>
                <li>Fixed issue where workshop files would somtimes not be detected when importing asset descriptions</li>
                <li>Fixed issue where Steam login would fail if "SessionId" was missing</li>
                <li>Fixed issue where importing Steam asset descriptions may fail if the wrokshop</li>
                <li>Fixed DB concurrency issues when updating multiple Steam asset descriptions at once</li>
                <li>Fixed store next update time being calculated incorrectly</li>
                <li>Fixed website authentication policies not being enforced correctly when trying to update inventory item prices</li>
            </ul>
        </MudText>

        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default">
            <span>v0.11 (14/05/2021)</span>
        </MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>
            <ul>
                <li>Completely rebuilt the back-end from the ground-up, following a more "micro-service" style architecture</li>
                <li>Added an administrative dashboard for the Discord bot service (for monitoring state, performance, logs)</li>
                <li>Added an administrative dashboard for the Steam data job service (for monitoring state, performance, logs)</li>
                <li>Added an administrative dashboard for the Web server service (for monitoring state, performance, logs)</li>
                <li>Added Azure service bus support to replace internal message queues and pub/sub functionality</li>
                <li>Added Azure AD authentication for administrative functionality</li>
                <li>Added Azure Linux App Service support for reduced hosting costs</li>
                <li>Added background job to automatically fetch store related videos from YouTube</li>
                <li>Added <code>>steamid</code> command for linking Steam accounts via the Discord bot</li>
                <li>Added open graph meta tags to all pages for better SEO</li>
                <li>Added a store selector button and popup dialog to make it easier to browse to historical item stores</li>
                <li>Optimised Steam session management to reduce number of failed data imports</li>
                <li>Optimised Discord client event processing to reduce latency when busy with a large number of requests</li>
                <li>Discord command error messages are now more description and use emoji reactions as success/failure indicators</li>
                <li>Discord bot now promotes donators from VIP servers to VIP role automatically</li>
                <li>Fixed bug where profile inventory thumbnail image would show incorrect quantity count for stacked items</li>
                <li>Fixed bug where <code>> sometext</code> would be interpreted as a Discord  rather than a blockquote</li>
                <li>Fixed for Discord inventory command incorrectly parsing the currency id as Steam id in some situations</li>
            </ul>
        </MudText>

        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default">
            <span>v0.10 (26/03/2021)</span>
        </MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>
            <ul>
                <li>Upgraded to .NET 6.0 (Preview) 🥳</li>
            </ul>
        </MudText>

        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default">
            <span>v0.9 (28/02/2021)</span>
        </MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>
            <ul>
                <li>Added Discord command <code>>help</code></li>
                <li>Discord bot status message shows remaining item store time</li>
                <li>Discord bot posts a welcome message when joining new server</li>
                <li>Discord bot resolves DiscordId's to SteamId's (if the user has registered their account)</li>
                <li>Discord commands show their progress with a series of edited messages (reduces perceived command lag)</li>
                <li>Discord commands have short-hand alias' (e.g. "inventory" => "inv")</li>
                <li>Discord server config commands will use the closest value if spelt incorrectly</li>
                <li>Discord servers can be tagged as VIP servers</li>
                <li>Added more detailed Web API documentation</li>
                <li>Added dark theme to Web API documentation viewer</li>
                <li>Added new market statistics dashboard showing accepted skin creators</li>
                <li>Removed some old market statistic dashboards that were not reliable</li>
                <li>Market listing page now sorts by highest 24hr sales volume by default</li>
                <li>Item store remaining time countdown is now more granular (shows minutes)</li>
                <li>Item store remaining time countdown will show exactly how long the store is overdue by rather than "due anytime now"</li>
                <li>Internal refactoring for command/query processors</li>
                <li>Internal refactoring to support partial item store updates (e.g. Valentines 2021 update)</li>
                <li>Fixed bug where inventory updates may incorrectly duplicate user or inventory data</li>
                <li>Fixed bug where Discord server data may not be deleted when the bot is removed from the server</li>
                <li>Fixed bug where you couldn't search for market items containing spaces</li>
                <li>Fixed bug where profile inventory would not load for some countries/currencies</li>
                <li>Fixed bug where profile inventory investment table prices would not show in the user local currency</li>
                <li>Fixed bug where profile inventory investment purchase prices were being parsed incorrectly</li>
                <li>Fixed bug where Discord "new store" and "new market listing" notification moasic images would not generate</li>
                <li>Fixed bug where Discord commands wouldn't accept Steam profile URLs if the user had a custom profle URL in Steam</li>
                <li>Fixed bug where Discord server config was not being persisted in some cases</li>
                <li>Fixed bug where profile inventory mosaic images would not generate</li>
                <li>Fixed bug where prices shown in UI won't update immediately after changing currencies</li>
                <li>Fixed bug with ARS currency parsing</li>
                <li>Fixed bug with RUB currency parsing</li>
            </ul>
        </MudText>

        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default">
            <span>v0.8 (24/11/2020)</span>
        </MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>
            <ul>
                <li>Upgraded to .NET 5.0 🥳</li>
            </ul>
        </MudText>

        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default">
            <span>v0.7 (11/11/2020)</span>
        </MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>
            <ul>
                <li>Item store overhaulled to support multiple stores and a more responsive UI</li>
                <li>Item store can now show items created by Facepunch (that don't have a workshop file)</li>
                <li>Item store can now show market listing details for store items that are already in the marketplace</li>
                <li>Item store has a new "marketplace performance" graph that shows a comparision between store and market prices for each item</li>
                <li>Marketplace browser UI is now card-based to be more responsive on smaller devices (removed the table)</li>
                <li>Marketplace items can be right-clicked to add/remove them from your personal wish-list</li>
                <li>Inventory items can now be right-clicked to flag items as "want to sell" and "want to trade"</li>
                <li>Inventory page has a new "wish list" tab that shows all market items you "want to buy"</li>
                <li>Inventory page now shows all inventory items (even if they aren't marketable yet)</li>
                <li>Added Discord command handler support</li>
                <li>Added Discord command <code>>inventory [steamId] [currencyName]</code></li>
                <li>Added Discord command <code>>trade [steamId]</code></li>
                <li>Added Discord command <code>>store remaining</code></li>
                <li>Added Discord command <code>>config names|get|set|add|remove|list [name]</code></li>
                <li>Added Discord guild configuration persistence (currencies, alerts, etc) </li>
                <li>Discord notification for "Store was updated" now shows an item moasic image</li>
            </ul>
        </MudText>

        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default">
            <span>v0.6 (17/10/2020)</span>
        </MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>
            <ul>
                <li>Anonymous users can now browse the site without the language/currency/steamId "nagg screen"</li>
                <li>Added Steam OpenID authentication support</li>
                <li>Added profile flairs</li>
                <li>Steam profile picture and name is now updated on inventory sync</li>
                <li>Store minimum sales metric is now calculated based on "top sellers" total revenue, not total sales</li>
                <li>Profile inventory is now auto-synced if older than 6 hours</li>
                <li>Added Discord integration via a bot</li>
                <li>Added Discord message broadcast when new workshop items have been accepted</li>
                <li>Added Discord message broadcast when new store items have been added</li>
                <li>Added Discord message broadcast when new market items have be added</li>
                <li>Added market statistics "profitable flips" dashboard</li>
                <li>Added market statictics "sales count" dashboard</li>
                <li>Added market statistics "most starved" dashboard</li>
                <li>Removed "most wanted" market statistics dashboard</li>
                <li>Market statistcis supply/demand metrics have been refactored</li>
                <li>Market statistics now exclude the "free"/"default" items from dashboards by default</li>
                <li>The list of donators shown on the about page is now dynamically loaded from the database</li>
                <li>Added Web Job to automatically restart app services and refresh auth tokens regularly</li>
                <li>Added Web API auto-documentation (via Swagger)</li>
            </ul>
        </MudText>

        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default">
            <span>v0.5 (14/09/2020)</span>
        </MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>
            <ul>
                <li>Added navigation buttons for account settings and logging out</li>
                <li>Added "most recent" market statistic dashboards</li>
                <li>Added "good time to buy" and "good time to sell" market statistic dashboards</li>
                <li>Added "top sellers" sales info to the item store page</li>
                <li>Added a high-level breakdown of store item sales revenue (total, steam/publisher, skin author)</li>
                <li>Added a item filter to the profile inventory page</li>
                <li>Added a pie chart showing inventory value breakdown to the profile "market performance" tab</li>
                <li>Added a list of market item value movements to the profile "market activity" tab</li>
                <li>Profile inventory page can now check other account inventories without having to log out/in each time</li>
                <li>Profile inventory must now be synced manually after the first load (improves performance when viewing inventory subsequent times)</li>
                <li>Profile inventory "return on investment" buy price is read-only unless you are logged in as the owning profile</li>
                <li>Profile inventory "return on investment" tab now sorts by highest RoI% first</li>
                <li>Profile inventory value now correctly calculates item stacks</li>
                <li>Profile inventory price parsing now works for currencies that use "," as a decimal separator (i.e. Euro)</li>
                <li>Return on investment percentage is now scaled from 0 (rather than 100)</li>
                <li>Store item "market position" calculation now correctly calculates in all currencies</li>
                <li>Various accuracy improvements for Steam API background jobs (market data calculation)</li>
                <li>Various performance improvements for Steam API background jobs (market data is updated more frequently)</li>
                <li>Various logging and error handling improvements to assist with troubleshooting</li>
                <li>Various responsive UI improvements for smaller displays</li>
                <li>Various UI tweaks and bug fixes</li>
            </ul>
        </MudText>

        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default">
            <span>v0.4 (26/07/2020)</span>
        </MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>
            <ul>
                <li>Redesigned the profile state management for improved maintenance and simplicity</li>
                <li>Added navigation option for community help on Discord</li>
                <li>Various UI tweaks and bug fixes</li>
            </ul>
        </MudText>

        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default">
            <span>v0.3 (19/07/2020)</span>
        </MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>
            <ul>
                <li>Redesigned the profile inventory value tool user interface (switched to tab layout)</li>
                <li>Added item summary info to the profile inventory value tool</li>
                <li>Added market activity info to the profile inventory value tool</li>
                <li>Added client/server version info to the navigation sidebar</li>
                <li>Various UI tweaks and bug fixes</li>
            </ul>
        </MudText>

        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default">
            <span>v0.2 (05/07/2020)</span>
        </MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>
            <ul>
                <li>Added support for changing currencies</li>
                <li>Added a (very basic) profile inventory value tool</li>
                <li>Added a page preload animation and improved performance (marginally)</li>
                <li>Added a sales revenue graph to item store page</li>
                <li>Added relevent videos from TGG and OMIGHTY to item store page</li>
                <li>Added more relevent info to market listing page search table</li>
                <li>Improved accuracy of dashboard metrics (supply/demand/stonking/crashing/etc)</li>
                <li>Improved accurancy of market value calculations</li>
                <li>Improved database performance and reduced bloat from histortic data</li>
                <li>Various UI tweaks and bug fixes</li>
            </ul>
        </MudText>

        <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Default">
            <span>v0.1 (21/06/2020)</span>
        </MudText>
        <MudText Typo="MudBlazor.Typo.body2" Color="MudBlazor.Color.Secondary" GutterBottom>
            <ul>
                <li>Initial release</li>
            </ul>
        </MudText>

    </MudPaper>
</PageContainer>
