@page "/privacy"

<PageContainer Title="Privacy Policy">

    <MudText Typo="MudBlazor.Typo.h5" Color="MudBlazor.Color.Primary">Privacy Policy</MudText>

    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>At SCMM, accessible from https://scmm.app, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by SCMM and how we use it.</MudText>

    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</MudText>

    <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Primary">General Data Protection Regulation (GDPR)</MudText>
    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>We are a Data Controller of your information.</MudText>
 
    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>SCMM legal basis for collecting and using the personal information described in this Privacy Policy depends on the Personal Information we collect and the specific context in which we collect the information:</MudText>
    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>
        <ul class="fa-ul">
            <li><span class="fa-li">-</span>SCMM needs to perform a contract with you</li>
            <li><span class="fa-li">-</span>You have given SCMM permission to do so</li>
            <li><span class="fa-li">-</span>Processing your personal information is in SCMM legitimate interests</li>
            <li><span class="fa-li">-</span>SCMM needs to comply with the law</li>
        </ul>
    </MudText>
  
    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>SCMM will retain your personal information only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use your information to the extent necessary to comply with our legal obligations, resolve disputes, and enforce our policies.</MudText> 

    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>If you are a resident of the European Economic Area (EEA), you have certain data protection rights. If you wish to be informed what Personal Information we hold about you and if you want it to be removed from our systems, please contact us.</MudText>

    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>In certain circumstances, you have the following data protection rights:</MudText>
    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>
        <ul class="fa-ul">
            <li><span class="fa-li">-</span>The right to access, update or to delete the information we have on you.</li>
            <li><span class="fa-li">-</span>The right of rectification.</li> 
            <li><span class="fa-li">-</span>The right to object.</li>
            <li><span class="fa-li">-</span>The right of restriction.</li>
            <li><span class="fa-li">-</span>The right to data portability</li>
            <li><span class="fa-li">-</span>The right to withdraw consent</li>
        </ul>
    </MudText>
    <ul>
    </ul>

    <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Primary">Log Files</MudText>

    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>SCMM follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</MudText>

    <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Primary">Cookies and Web Beacons</MudText>

    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>Like any other website, SCMM uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</MudText>

    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>For more general information on cookies, please read <MudLink Typo="MudBlazor.Typo.body2" Href="https://www.privacypolicyonline.com/what-are-cookies/">"What Are Cookies"</MudLink>.</MudText>

    <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Primary">Privacy Policies</MudText>

    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>You may consult this list to find the Privacy Policy for each of the advertising partners of SCMM.</MudText>

    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on SCMM, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</MudText>

    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>Note that SCMM has no access to or control over these cookies that are used by third-party advertisers.</MudText>

    <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Primary">Third Party Privacy Policies</MudText>

    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>SCMM's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </MudText>

    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</MudText>

    <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Primary">Children's Information</MudText>

    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</MudText>

    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>SCMM does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</MudText>

    <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Primary">Online Privacy Policy Only</MudText>

    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>Our Privacy Policy only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in SCMM. This policy is not applicable to any information collected offline or via channels other than this website.</MudText>

    <MudText Typo="MudBlazor.Typo.h6" Color="MudBlazor.Color.Primary">Consent</MudText>

    <MudText Typo="MudBlazor.Typo.body2" GutterBottom>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</MudText>

</PageContainer>
