
.item {
    border: 1px solid transparent;
}

.item:hover {
    background-color: var(--mud-palette-overlay-dark);
    border: 1px solid var(--mud-palette-lines-default);
}

.item-icon img {
    width: 100%;
}

.item-icon img {
    width: 100%;
}

.hover-zoom img {
    transition: transform .5s ease;
}

.hover-zoom:hover img {
    transform: scale(1.3);
    filter: drop-shadow(2px 4px 6px black);
}

.purchasable {
    cursor: pointer;
}

.highlighted {
    background-color: var(--mud-palette-overlay-dark);
    border: 1px solid var(--mud-palette-lines-default);
    animation: flash 1s 0.5s forwards;
    animation-iteration-count: 3;
}

@keyframes flash {
    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}
