
name: Build and deploy solution to Azure

env:
  DOTNET_VERSION: '8.0.x'

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read    
    steps:

      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Set up dependency caching for faster builds
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Build solution with dotnet
        run: dotnet build SCMM.sln -c Release

      - name: Publish Steam.Functions app service with dotnet
        run: dotnet publish SCMM.Steam.Functions/SCMM.Steam.Functions.csproj -c Release -o ${{ github.workspace }}/pub/web-apps/SCMM.Steam.Functions

      - name: Publish Discord.Bot.Server app service with dotnet
        run: dotnet publish SCMM.Discord.Bot.Server/SCMM.Discord.Bot.Server.csproj -c Release -o ${{ github.workspace }}/pub/web-apps/SCMM.Discord.Bot.Server

      - name: Publish Web.Server app service with dotnet
        run: dotnet publish SCMM.Web.Server/SCMM.Web.Server.csproj -c Release -o ${{ github.workspace }}/pub/web-apps/SCMM.Web.Server

      - name: Upload artifacts for deployment job
        uses: actions/upload-artifact@v3
        with:
          name: web-apps
          path: ${{ github.workspace }}/pub/web-apps

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: none
    environment:
      name: 'Production'
    steps:

      - name: Download artifacts from build job
        uses: actions/download-artifact@v3
        with:
          name: web-apps
          path: ${{ github.workspace }}

      - name: Deploy Steam.Functions app service to Azure Web App
        uses: Azure/functions-action@v1
        with:
          app-name: scmm-steam-functions
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE_SCMM_STEAM_FUNCTIONS }}
          package: '${{ github.workspace }}/SCMM.Steam.Functions'
  
      - name: Deploy Discord.Bot.Server app service to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: scmm-discord-bot
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE_SCMM_DISCORD_BOT }}
          package: '${{ github.workspace }}/SCMM.Discord.Bot.Server'

      - name: Deploy Web.Server app service to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: scmm-web
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE_SCMM_WEB }}
          package: '${{ github.workspace }}/SCMM.Web.Server'
